test/
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/


logs/
*.log

artifacts/
models/

.streamlit/

.DS_Store
Thumbs.db

.vscode/
.idea/

build/
dist/
*.egg-info/

*.tmp
*.bak
*.swp
